/* 
  font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

/*css reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  color: #6f737f;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.header {
  background-color: #2e323f;
}
.row {
  display: flex;
  flex-shrink: 1;
}
.container-width {
  max-width: 75rem;
}
.nav {
  margin: 0 auto;
}
.nav__logo {
  display: none;
}

.nav__item {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.nav__item + .nav__item {
  margin-left: 0.6em;
}
.nav__link {
  color: #ffff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 0.85rem;
}
.nav__button {
  background-color: #a59678;
}

.hero {
  background-color: #3b4050;
  padding: 1em;
}
.hero__title {
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 1.3rem;
  text-align: left;
}
.hero__title--white {
  color: #ffff;
}
.hero__title--tan {
  color: #a59678;
}

.hero__btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #ffff;
  background-color: #a59678;
  text-transform: uppercase;
  padding: 0.2em 0.8em;
  border-radius: 50px;
  margin: 1.3em auto;
}

/* .col {
  display: flex;
  flex-direction: column;
} */

.about {
  padding: 1em;
  background-color: #f3f0ea;
}

.about__h2 {
  color: #a59678;
  padding-bottom: 0.8em;
}

.about__p {
  padding-bottom: 0.6em;
}

.main {
  padding: 1em;
}
.main__h2 {
  color: #a59678;
  padding-bottom: 1em;
}
.main__img {
  margin: 0.5em 0;
}
.main__side-container {
  background-color: #2e323f;
  margin-bottom: 0.8em;
  margin-top: 0.4em;
  padding: 0.7em 0.5em;
  text-align: center;
}
.main__side h2 {
  color: #ffff;
  text-align: center;
  padding: 0.2em 0;
}

.footer {
  background-color: #2e323f;
  padding: 1em;
  text-align: center;
}
.footer__title {
  color: #ffff;
  margin: 0.4em 0;
}
.footer__subtitle {
  color: #a59678;
  margin: 0.4em 0;
}
.footer__p {
  font-size: 0.8rem;
}

.footer__link {
  color: #6f737f;
}

.footer__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .nav__logo {
    display: inline-block;
    margin-right: auto;
  }
  .nav {
    padding: 0.8em 1.8em;
  }
  .nav__item {
    padding-left: 1.8em;
  }
  .nav__button {
    padding: 0.05em 0.4em;
    border-radius: 100px;
    display: flex;
    align-items: center;
  }
  .footer__box--big {
    max-width: 40%;
    margin-right: auto;
  }
  .footer__box {
    padding-right: 1em;
  }
  .footer__container {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .header {
    font-size: 1.125rem;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 6rem 4rem;
  }
  .hero-flex {
    display: flex;
    align-items: end;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .hero__title {
    font-size: 5.625rem;
    padding-bottom: 0;
  }
  .hero__text {
    font-size: 1.125rem;
  }
  .hero__btn {
    font-size: 1.333rem;
  }

  .about {
    text-align: center;
    padding: 3.2rem 1.4rem;
    display: flex;
    justify-content: space-around;
  }
  .about__text {
    max-width: 30%;
  }

  .main {
    display: flex;
    justify-content: space-around;
    padding: 4rem 1.5rem;
  }
  main p {
    padding: 1rem 0;
  }
  .main__container {
    max-width: 60%;
  }
  .main__h2 {
    font-size: 2.25rem;
  }
  .main__side {
    max-width: 25%;
    font-size: 0.8rem;
  }
  .flex--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer__title {
    font-size: 1.75rem;
  }
  .footer__p {
    font-size: 1rem;
  }
  .footer {
    padding-bottom: 6rem;
  }
}
